.maindiv {
    position: absolute;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    margin: 0px;
    z-index: {Layer};
}

.contentdiv {
    position: absolute;
    margin: 0px;
    left: {XPosition}{PositionTypeUnit};
    top: {YPosition}{PositionTypeUnit};
    transform: translate({XTranslation}%, {YTranslation}%);
    width: {Width};
    height: {Height};
}



.text {
    font-size: {FontSize}px;
    color: {FontColor};
    font-family: '{FontFamily}';
    font-weight: {FontWeight};
    text-decoration: {TextDecoration};
    font-style: {FontStyle};
    text-align: {TextAlignment};
    text-shadow: {ShadowColor};
}